.center-panel {
        position: relative;
        z-index: 1;
        width: 90%;
        height: 1000px;
        margin-left: 20%;
    }

    #author-graph {
        width: 110%;
        height: 100%;
        position: relative;

    }

.links .link {
    stroke: #D0B3FF;
    stroke-opacity: 0.6;
    stroke-width: 1.5;
    transition: stroke-opacity 0.2s ease;
}

.links .link:hover {
    stroke-opacity: 1;
    stroke: #8A2BE2;
}

    .left-panel {
        position: absolute;
        left: 10px;
        width: 20%;
        height: calc(100vh - 40px);
        background-color: #f0f0f0;
        z-index: 2;

    }

    /* Sağ panel */
    .right-panel {
        position: absolute;
        right: 10px;
        width: 20%;
        height: calc(100vh - 40px);
        background-color: #f0f0f0;
        z-index: 2;
    }

    #info-panel {
    padding: 20px;
    border-radius: 50px !important;
    backdrop-filter: blur(4.1px) !important;
    border-right: blueviolet !important;
    border-left: blueviolet !important;
    position: fixed;
    width: 220px !important;
    height: 330px !important;
    box-shadow:
        0px 15px 40px rgba(0, 0, 0, 0.5),
        0px 20px 80px rgba(0, 0, 0, 0.6),
        0px 25px 100px rgba(0, 0, 0, 0.4)
    !important;
    display: none;
    transition: opacity 1.5s ease, transform 1.5s ease;
    cursor: pointer;
    opacity: 1;
    transform: perspective(600px) rotateX(10deg) rotateY(10deg);
}


#info-panel.hidden {
    opacity: 0;
    transform: perspective(600px) rotateX(10deg) rotateY(10deg) scale(0.8);
}


#info-panel:hover {
    transform: perspective(600px) rotateX(0deg) rotateY(0deg) translateZ(60px);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.5), 0px 10px 25px rgba(0, 0, 0, 0.7);
}


    body.light-theme #info-panel {
        backdrop-filter: blur(4.1px) !important;
        border-right: blueviolet !important;
        border-left: blueviolet !important;
    }


.graph-labels text {
    font-size: 12px;
    fill: white !important;
    font-family: Arial, sans-serif;
    text-anchor: middle;
    pointer-events: none;
    user-select: none;
    transition: fill 0.3s ease;
}

body.light-theme .graph-labels text {
    fill: black !important;
}

#close-info-panel {
    position: absolute;
    top: 10px;
    left: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

#close-info-panel:hover {
    color: #ff4d4d;
}