.left-panel, .right-panel {
    backdrop-filter: blur(100px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    background: linear-gradient(135deg, #1e2a34, black);
    padding: 30px;
    border-radius: 50px;
    position: relative;
    transition: all 0.4s ease;
    height: calc(100vh - 40px);
    overflow-y: auto;
    overflow-y: auto;
    min-width: 250px;
    max-width: 600px;
    resize: horizontal;
    overflow-x: hidden;

}


.left-panel {
    width: 400px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - 40px);
    padding-right: 15px;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    transition: all 1.3s ease;
    overflow-y: auto;
}

.right-panel {
    width: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: all 1.3s ease;
}


.theme-toggle {
    backdrop-filter: blur(100px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    padding: 10px;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    z-index: 1000;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

}

/* Resize handles */
.resize-handle {
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    cursor: ew-resize;
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.resize-handle-left {
    right: -6px;
}

.resize-handle-right {
    left: -6px;
}

.left-panel:hover .resize-handle,
.right-panel:hover .resize-handle {
    opacity: 1;

}